.heading{
    width: 80%;
    font-size: 22px;
}

body{
background-color: aqua;
color: greenyellow;
}

.Name_of_the_objects{
    color: black;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
























































































































































































































































































































































































































